@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

hr {
  margin-top: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

@media (max-width: 1029px) {
  .container {
    padding: 0 2em;
    margin: 25px auto;
  }
}